In [1]:
import numpy as np
import pandas as pd

## barChart

In [10]:
df = pd.DataFrame(columns=['y'], index=np.arange(10), data=np.random.random(10) * 100)
df['y'] = df['y'].map(round)
df.head()

    y
0  47
1  65
2  53
3  58
4  13

In [11]:
df.to_csv('./data/bar.csv', index_label='x')

## horizontalBarChart

In [13]:
df = pd.DataFrame(columns=['x'], index=np.arange(10), data=np.random.random(10) * 100)
df['x'] = df['x'].map(round)
df.index = df.index.map(lambda x: 'Item '+str(x+1))
df.head()

         x
Item 1  59
Item 2  28
Item 3  10
Item 4   9
Item 5  46

In [14]:
df.to_csv('./data/horizontal_bar.csv', index_label='y')

## lineChart

In [4]:
df = pd.DataFrame(columns=['y'], index=np.arange(100), data=sorted(np.random.random(100)**2))
df['y'] = df['y'].map(lambda x: round(x, 5))
df.head()

         y
0  0.00048
1  0.00477
2  0.00505
3  0.00567
4  0.01006

In [5]:
df.to_csv('./data/line.csv', index_label='x')

## scatterChart

In [6]:
df = pd.DataFrame(columns=['y'], index=np.arange(20), data=np.random.random(20))
df['y'] = df['y'].map(lambda x: round(x, 2))
df.head()

      y
0  0.76
1  0.62
2  0.81
3  0.40
4  0.57

In [7]:
df.to_csv('./data/scatter.csv', index_label='x')

## multiLineChart

In [8]:
df = pd.DataFrame(columns=['y1', 'y2', 'y3'], index=np.arange(100))
df['y1'] = pd.Series(sorted(np.random.random(100)*10)).map(lambda x: round(x, 2))
df['y2'] = pd.Series(sorted(np.random.random(100)*15)).map(lambda x: round(x, 2))
df['y3'] = pd.Series(sorted(np.random.random(100)*50)).map(lambda x: round(x, 2))
df.head()

     y1    y2    y3
0  0.10  0.20  0.67
1  0.19  0.22  0.85
2  0.20  0.24  1.84
3  0.20  0.36  1.95
4  0.29  0.73  2.41

In [9]:
df.to_csv('./data/multiline.csv', index_label='x')